In [ ]:
# Importiamo di default  le librerie
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#  QUAL E' IL MIGLIOR TEAM POKEMON?

Obiettivo: creare il miglior Team pokemon,

In [ ]:
#### We import the datasets 
pokedex = pd.read_csv("pokemon_database.csv", encoding="latin-1")
region = pd.read_csv('pokemon_region.csv')
stats = pd.read_csv('pokemon_stats.csv')

In [15]:
print(pokedex.head())
print(region.head())
print(stats.head())

   Pokemon Id  Pokedex Number Pokemon Name  Classification  \
0           1               1    Bulbasaur    Seed Pokemon
1           2               2      Ivysaur    Seed Pokemon
2           3               3     Venusaur    Seed Pokemon
3           4               3     Venusaur    Seed Pokemon
4           5               4   Charmander  Lizard Pokemon

  Alternate Form Name  Original Pokemon ID Legendary Type Primary Type  \
0                 NaN                  NaN            NaN        Grass
1                 NaN                  NaN            NaN        Grass
2                 NaN                  NaN            NaN        Grass
3                Mega                  3.0            NaN        Grass
4                 NaN                  NaN            NaN         Fire

  Secondary Type Primary Ability  ... Special Event Ability Description  \
0         Poison        Overgrow  ...                               NaN
1         Poison        Overgrow  ...                               NaN
2         Poison        Overgrow  ...                               NaN
3         Poison       Thick Fat  ...                               NaN
4            NaN           Blaze  ...                               NaN

  Base Happiness Game(s) of Origin Experience Growth Experience Yield  \
0             70               Red       Medium Slow               64
1             70               Red       Medium Slow              142
2             70               Red       Medium Slow              236
3             70                 X       Medium Slow              281
4             70               Red       Medium Slow               62

  Primary Egg Group Secondary Egg Group  Egg Cycle Count  \
0           Monster               Grass               20
1           Monster               Grass               20
2           Monster               Grass               20
3           Monster               Grass               20
4           Monster              Dragon               20

  Pre-Evolution Pokemon Id Evolution Details
0                      NaN               NaN
1                      1.0          Level 16
2                      2.0          Level 32
3                      NaN               NaN
4                      NaN               NaN

[5 rows x 26 columns]
     games  region
0    Black   Unova
1    Sword   Galar
2      Red   Kanto
3     Ruby   Hoenn
4  Diamond  Sinnoh
   Pokedex Number  Health Stat  Attack Stat  Defense Stat  \
0               1           45           49            49
1               2           60           62            63
2               3           80           82            83
3               3           80          100           123
4               4           39           52            43

   Special Attack Stat  Special Defense Stat  Speed Stat  Base Stat Total  \
0                   65                    65          45              318
1                   80                    80          60              405
2                  100                   100          80              525
3                  122                   120          80              625
4                   60                    50          65              309

   Health EV  Attack EV  ...  Special Attack EV  Special Defense EV  Speed EV  \
0          0          0  ...                  1                   0         0
1          0          0  ...                  1                   1         0
2          0          0  ...                  2                   1         0
3          0          0  ...                  2                   1         0
4          0          0  ...                  0                   0         1

   EV Yield Total  Catch Rate  Pokemon Height  Pokemon Weight  Male Ratio  \
0               1          45             0.7             6.9        87.5
1               2          45             1.0            13.0        87.5
2               3          45             2.0           100.0        87.5
3               3          45             2.4           155.5        87.5
4               1          45             0.6             8.5        87.5

   Female Ratio  Experience Growth Total
0          12.5                  1059860
1          12.5                  1059860
2          12.5                  1059860
3          12.5                  1059860
4          12.5                  1059860

[5 rows x 21 columns]

In [13]:
# We print the columns 
print(pokedex.columns)
print(region.columns)
print(stats.columns)

Index(['Pokemon Id', 'Pokedex Number', 'Pokemon Name', 'Classification',
       'Alternate Form Name', 'Original Pokemon ID', 'Legendary Type',
       'Primary Type', 'Secondary Type', 'Primary Ability',
       'Primary Ability Description', 'Secondary Ability',
       'Secondary Ability Description', 'Hidden Ability',
       'Hidden Ability Description', 'Special Event Ability',
       'Special Event Ability Description', 'Base Happiness',
       'Game(s) of Origin', 'Experience Growth', 'Experience Yield',
       'Primary Egg Group', 'Secondary Egg Group', 'Egg Cycle Count',
       'Pre-Evolution Pokemon Id', 'Evolution Details'],
      dtype='str')
Index(['games', 'region'], dtype='str')
Index(['Pokedex Number', 'Health Stat', 'Attack Stat', 'Defense Stat',
       'Special Attack Stat', 'Special Defense Stat', 'Speed Stat',
       'Base Stat Total', 'Health EV', 'Attack EV', 'Defense EV',
       'Special Attack EV', 'Special Defense EV', 'Speed EV', 'EV Yield Total',
       'Catch Rate', 'Pokemon Height', 'Pokemon Weight', 'Male Ratio',
       'Female Ratio', 'Experience Growth Total'],
      dtype='str')

In [14]:
#### We look at hte length 
print(len(pokedex))
print(len(region))
print(len(stats))

1076
16
1076

In [27]:
stats.info()

<class 'pandas.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pokedex Number           1076 non-null   int64
 1   Health Stat              1076 non-null   int64
 2   Attack Stat              1076 non-null   int64
 3   Defense Stat             1076 non-null   int64
 4   Special Attack Stat      1076 non-null   int64
 5   Special Defense Stat     1076 non-null   int64
 6   Speed Stat               1076 non-null   int64
 7   Base Stat Total          1076 non-null   int64
 8   Health EV                1076 non-null   int64
 9   Attack EV                1076 non-null   int64
 10  Defense EV               1076 non-null   int64
 11  Special Attack EV        1076 non-null   int64
 12  Special Defense EV       1076 non-null   int64
 13  Speed EV                 1076 non-null   int64
 14  EV Yield Total           1076 non-null   int64
 15  Catch Rate               1076 non-null   int64
 16  Pokemon Height           1076 non-null   float64
 17  Pokemon Weight           1076 non-null   float64
 18  Male Ratio               1076 non-null   float64
 19  Female Ratio             1076 non-null   float64
 20  Experience Growth Total  1076 non-null   int64
dtypes: float64(4), int64(17)
memory usage: 176.7 KB

In [ ]:
pokedex_new = pokedex[['Pokemon Id', 'Pokedex Number', 'Pokemon Name','Primary Type','Game(s) of Origin']].copy()
pokedex_new = pokedex_new.rename(columns={'Game(s) of Origin': "games"})      #.rename(columns={"nome_vecchio": "nome_nuovo"}))
stats_new = stats[['Pokedex Number','Health Stat', 'Attack Stat', 'Defense Stat','Speed Stat','Experience Growth Total']].copy()
df_new = pd.merge(pokedex_new,stats_new, on = 'Pokedex Number', how = 'outer')
df_new = pd.merge(df_new,region, on = 'games', how = 'outer')

,Pokemon Id,Pokedex Number,Pokemon Name,Primary Type,games,Health Stat,Attack Stat,Defense Stat,Speed Stat,Experience Growth Total,region
0,742,494,Victini,Psychic,Black,100,100,100,100,1250000,Unova
1,829,495,Snivy,Grass,Black,45,45,55,63,1059860,Unova
2,830,496,Servine,Grass,Black,60,60,75,83,1059860,Unova
3,831,497,Serperior,Grass,Black,75,75,95,113,1059860,Unova
4,832,498,Tepig,Fire,Black,65,63,45,45,1059860,Unova
...,...,...,...,...,...,...,...,...,...,...,...
1537,1149,719,Diancie,Rock,X,50,100,150,50,1250000,Kalos
1538,1149,719,Diancie,Rock,X,50,160,110,110,1250000,Kalos
1539,1151,720,Hoopa,Psychic,X,80,110,60,70,1250000,Kalos
1540,1151,720,Hoopa,Psychic,X,80,160,60,80,1250000,Kalos
1541,1152,721,Volcanion,Fire,X,80,110,120,70,1250000,Kalos

In [59]:
df_new.info()

<class 'pandas.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Pokemon Id               1542 non-null   int64
 1   Pokedex Number           1542 non-null   int64
 2   Pokemon Name             1542 non-null   str
 3   Primary Type             1542 non-null   str
 4   games                    1542 non-null   str
 5   Health Stat              1542 non-null   int64
 6   Attack Stat              1542 non-null   int64
 7   Defense Stat             1542 non-null   int64
 8   Speed Stat               1542 non-null   int64
 9   Experience Growth Total  1542 non-null   int64
 10  region                   1542 non-null   str
dtypes: int64(7), str(4)
memory usage: 132.6 KB

In [60]:
df_new.describe()

,Pokemon Id,Pokedex Number,Health Stat,Attack Stat,Defense Stat,Speed Stat,Experience Growth Total
count,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1.542000e+03
mean,916.259403,440.223735,72.201038,85.329442,78.425422,73.047990,1.061751e+06
std,533.266391,278.057564,26.740244,33.541171,31.376044,30.817211,1.517529e+05
min,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,6.000000e+05
25%,418.250000,183.250000,54.250000,61.250000,55.000000,50.000000,1.000000e+06
50%,1001.500000,434.500000,70.000000,82.000000,75.000000,72.000000,1.000000e+06
75%,1410.000000,704.750000,86.000000,105.000000,99.000000,95.000000,1.250000e+06
max,1605.000000,898.000000,255.000000,190.000000,250.000000,200.000000,1.640000e+06